body{

    font-family: roboto;
    margin: 0;
}

h1{
    margin: 0;
    height: 100px;
    text-align: center;
    border-bottom: 2px solid red;
    background-color: aquamarine;
    color: green;
    box-shadow: 0 0 5px rgb(128,128, 128);
}

td, th{
    border: 2px groove grey; /* Adiciona uma borda para separar as células */
    width: 20px; /* Define a largura da célula */
    height: 20px; /* Define a altura da célula */
    padding: 10px;
    text-align: left;   
}

table
{
    margin-top: 50px; /* Adicionando margem acima da tabela */
    border-collapse: collapse; /* Bordas das celulas */ 
    text-align: center;
    width: 100%; /* Ajusta a largura da tabela */
    
    
}

.celula-com-imagem /* . marca class*/
{
    background-image: url("./images/IMG_removebg.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4px; /* Ajuste conforme necessário */
    text-align: center; /* Ajuste conforme necessário */
    color: antiquewhite;
}


#format_tableheader
{
    background-color: rgb(154, 154, 255);
    text-align: center;

}

#format_text /* # marca ID*/
{
    text-align: right;
    
}

#format_background /* # marca ID*/
{
    background-color: rgb(141, 142, 142);
    color: rgb(188, 4, 4);
    text-align: center;
}