@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Titillium+Web&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

h1{font-family: 'Agbalumo';}

/*fazendo a formatação de texto do conteúdo inteiro da página - trocando a fonte padrão*/

body 
{
    font-family: 'Segoe UI', Candara, "Trebuchet MS", Droid;
    font-family: "Titillium Web", Oswald;
    margin: 0px;
    background: linear-gradient(to right, #a9c8dd, #094d7a);
    /*background-image: url(../images/background01.jpeg);*/
    /*background-image: url(../images/9744.jpg);*/
    /*background-size: cover;
    background-repeat: no-repeat;*/
} 

.conteiner 
{
    width: 80%;
    height: 200%;
    border: 1px solid;
    margin: auto;
    
    display: grid; /*Prepara o conteiner para as regras do CSS que tornarão o layout responsivo*/
    text-align: center;
    box-sizing: border-box; /*Propriedade para o navegador contar, na largura ou altura da caixa, tambem, os valores de padding e espressura de borda*/
    grid-template-columns: repeat(auto-fit, minimax( 1fr, 3fr)); /*Propriedade para o navegador*/
    grid-template-rows: 50% 50% 50%;
}

div.conteiner div /*Marcador para as div herdeiras. Apenas elas serão alteradas*/
{
    background-color: lightblue;
    border: 1px solid;
    font-size: 4vw;
}
.item01
{
    grid-column-start: 1;
    grid-column-end: 4;
}

.item03
{
    grid-row-start: 2;
    grid-row-end: 4; /* Definindo o final da segunda linha */
    
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    align-items: center;

}

footer 
{
    margin-top: 50%;
    border-top: 1px rgb(126, 6, 6) solid;
    font-size: 9px;
    font-family: Droid;
}
