

@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Press+Start+2P&display=swap');



/*Formatacao de texto do conteudo inteiro da pagina - trocando a fonte padrao */
body 
{
    font-family: 'Oswald', sans-serif;
}
h1
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid #064169;
    text-align: justify;
    background-color: #adadad;
}
h2
{
    font-family: 'Press Start 2P', cursive;
}

table 
{
    width: 100%;
    border-collapse: collapse;
}

th, td 
{
    border: 3px solid #064169;
    padding: 10px;
    text-align: left;
    
}

th {
    background-color: #c5c5f4;
}